target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea/
*.iws
*.iml
*.ipr
out/
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
node_modules/
frontend/generated/
.DS_STORE
